.wrapper {
  width: 400px;
  height: 400px;
  background-color: blue;
}

.title {
  font-size: 25px;
  margin-top: 10px;
}

.button {
  color: #beb41f;
  font-size: 25px;
  margin-top: 40px;
  top: 4px;
  margin-right: 9px;
}

.projectAdditional {
  margin-top: 30px;
}

.materialIcons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  color: red;
  margin-top: 13px;
  margin-right: 9px;
}
