.wrapper {
  width: 400px;
  height: 400px;
  background-color: blue;
}

.title {
  font-size: 25px;
  margin-top: 10px;
}

.button {
  color: #beb41f;
  font-size: 25px;
  margin-top: 40px;
  top: 4px;
  margin-right: 9px;
}
